node-red/.flows.json.backup
[{"id":"7c547859912b407f","type":"tab","label":"Hall","disabled":false,"info":"","env":[]},{"id":"c46ec6da75a29ac3","type":"tab","label":"Bathroom","disabled":false,"info":"","env":[]},{"id":"5925a2ee8761878a","type":"tab","label":"Kitchen","disabled":false,"info":"","env":[]},{"id":"c2ba449f446e667c","type":"tab","label":"Bedroom","disabled":false,"info":"","env":[]},{"id":"e0c421ee2f5c3583","type":"tab","label":"Living Room","disabled":false,"info":"","env":[]},{"id":"0c8b275e7a34a25c","type":"tab","label":"Office","disabled":false,"info":"","env":[]},{"id":"68862836.29c7a8","type":"subflow","name":"Lights Motion Control","info":"","category":"home_assistant","in":[{"x":57,"y":162,"wires":[{"id":"92cf1e14.7068"}]}],"out":[{"x":470,"y":375,"wires":[{"id":"38649522.99f89a","port":0}]},{"x":560,"y":390,"wires":[{"id":"38649522.99f89a","port":1}]},{"x":650,"y":75,"wires":[{"id":"2a0d169a.91782a","port":0}]},{"x":890,"y":105,"wires":[{"id":"d5248d86.f7096","port":0}]}],"env":[{"name":"timeOffAfter","type":"num","value":"120"},{"name":"manualCooldown","type":"num","value":"30"},{"name":"brightness","type":"num","value":"100","ui":{"type":"input","opts":{"types":["num","bool","json","bin"]}}},{"name":"transitionOn","type":"num","value":"2"},{"name":"transitionOff","type":"num","value":"2"},{"name":"pause","type":"str","value":"5"},{"name":"controlLights","type":"str","value":""},{"name":"manualLight","type":"bool","value":"false"}],"meta":{},"color":"#52C0F2","icon":"font-awesome/fa-lightbulb-o","status":{"x":1027,"y":157,"wires":[{"id":"effe188b.5340f8","port":0}]}},{"id":"d7c147689bbe4353","type":"group","z":"7c547859912b407f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["62efa5699f57d51f","de1df19184f06c83","68906fa59ab52bf4","ac83cc2a8a6e6776","a94a530f88e5f4f9","98dd8f5eb34caff1","7fbeaa9f8e7c04ee","2632c616d1300e99","245d1471ec1e228e","3db0a2a9e233ba47"],"x":34,"y":19,"w":812,"h":217},{"id":"e47d3124ce86e5cf","type":"group","z":"7c547859912b407f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["35645f67cb3066d9","0d31b91fa456ef0a","34ed0ea27e507b41","1160707e1d5f6745","e067aa5a9a5ad390"],"x":34,"y":259,"w":612,"h":182},{"id":"464bc9ab39de8545","type":"group","z":"7c547859912b407f","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["fa9c0e9f11ab7032","d195ee04f84b7928","69ebe74c270b5bb1","ee688e398b26730a"],"x":34,"y":459,"w":432,"h":162},{"id":"f62a5fe922bbfc46","type":"group","z":"c46ec6da75a29ac3","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8507bbf2b43edb42","320a5239e659a925","5de7c99b23116528","6c3e3567da67c747","e32d0d9f4c16c828","3dc06a21f17a8a5f","a354ab4fe46b4009","786c57f14537f62a","27bf483d8e1ad89d","a19d428692b659d3"],"x":34,"y":19,"w":892,"h":217},{"id":"41246c4ab2371aa1","type":"group","z":"5925a2ee8761878a","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ba71cc4f57d4c89a","4ed1fdd622c3a862","c27661af82753469","1922232b8124faec","cfc85bb2b3337b65","7fe6c7fcb9b882ff","81c4cb157bb5d74e","d01a6faf42988334","2d71b56498fa6fac","eb02612872271538"],"x":34,"y":19,"w":872,"h":217},{"id":"b4177eba2c9555d6","type":"group","z":"c2ba449f446e667c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e893b20faab4cbfa","e8ee0b41ed7b5f78","d76c3b2dcd1ff1d8","f3d82d2f440a6d1a","44a21282c3d4bf82","22fcc17ef896593f","a0627fc275e7d8bb","a3eaa22a1c5fb838","709808af8cee8344","264b16390bfa1666","fcf8d61d9285e1bf","9baf73405608bdf7","d0d062e59145f405","83668296822c3a41","2a357654c9c65467","4c47c5f5454d514f","7c990d10a0a13190","14396cbdcedb0565","35a365e33b9d6e9f","14a026e6fb3ad961"],"x":34,"y":19,"w":1012,"h":442},{"id":"2b35130c2b86fe4c","type":"group","z":"c2ba449f446e667c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["a6d4405666584127","e159fb0e6c4fdbf2","8de12ee17d89f7fb","39d83f7fe8c891f0","c0bb8748fcb2cb13","19b4e894794049a7","627907943fe7ca2c","2b4aabe62a2daa1a","5886ac45d9e31869","5fff236b6952929a","f49e67f9a0b76b6d"],"x":34,"y":499,"w":1052,"h":217},{"id":"2c73a66ba0f434b1","type":"group","z":"e0c421ee2f5c3583","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["56f6cba8f2b189a6","2161bd8d13751ab1","d290edb76b1f1a1a","9fe1628b8a950c0f","8ba3a85344ed834c","e06050b0c1337d0b","c889feed3908ab39","97faaeaadfd9af3a","9475c3a27378fec3","0e6422737040fceb","eef825106d7c68a6"],"x":34,"y":19,"w":1092,"h":217},{"id":"cfa2b5528df1706e","type":"group","z":"0c8b275e7a34a25c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["865b763260b2e656","1a5eb1854aee1bc9","53a4c9a8dd06e4cd","1875a0907cefbee9","d917ba0864630d2f","2261c3a7f4611001","d0855e19f896afe2","ac5131fbd36abbf7"],"x":34,"y":219,"w":852,"h":122},{"id":"b698f877eb646013","type":"group","z":"0c8b275e7a34a25c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["63936f8756ca0048","1ac3f5058c4f0840","3aa1e1fd5edd79db","4c65e1a366bcc553","feec78aa8e783197","966f5608fc29c504","1fed51c35e7f4b43","d067440ecd22dd3c","abbd4ecafe20c316"],"x":34,"y":39,"w":732,"h":162},{"id":"f43d015e.4b29","type":"server","name":"Home Assistant","version":2,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"cf76e785.ab1978","type":"change","z":"68862836.29c7a8","name":"motion","rules":[{"t":"set","p":"payload","pt":"msg","to":"motion","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":544,"y":178,"wires":[["d5248d86.f7096"]]},{"id":"d5248d86.f7096","type":"state-machine","z":"68862836.29c7a8","name":"","triggerProperty":"payload","triggerPropertyType":"msg","stateProperty":"payload","statePropertyType":"msg","initialDelay":"","persistOnReload":true,"outputStateChangeOnly":true,"throwException":false,"states":["switch","motion-detected","motion-on","motion-off","off","on"],"transitions":[{"name":"motion","from":"off","to":"motion-detected"},{"name":"motion","from":"motion-off","to":"motion-detected"},{"name":"motion","from":"motion-on","to":"motion-on"},{"name":"off","from":"*","to":"off"},{"name":"on","from":"*","to":"on"},{"name":"switch","from":"off","to":"switch"},{"name":"switch","from":"on","to":"switch"},{"name":"switch","from":"switch","to":"switch"},{"name":"switch","from":"motion-on","to":"switch"},{"name":"motion-on","from":"motion-detected","to":"motion-on"},{"name":"motion-off","from":"motion-on","to":"motion-off"}],"x":741,"y":157,"wires":[["38649522.99f89a","effe188b.5340f8"]]},{"id":"d2742f90.7a1ce","type":"change","z":"68862836.29c7a8","name":"switch","rules":[{"t":"set","p":"payload","pt":"msg","to":"switch","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":541,"y":223,"wires":[["d5248d86.f7096"]]},{"id":"cab8f6da.31e818","type":"change","z":"68862836.29c7a8","name":"stop","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":630,"wires":[["380a05c00a74bf5f"]]},{"id":"ca0b865c.9f9898","type":"inject","z":"68862836.29c7a8","name":"Initial State","props":[{"p":"reset","v":"true","vt":"bool"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","x":665,"y":570,"wires":[["6210bc08.905bc4","3044ab1b0964f72a"]]},{"id":"faa9cc31.66ec7","type":"link in","z":"68862836.29c7a8","name":"","links":["801822a5.c6d75","e8072572.fffa18"],"x":592,"y":120,"wires":[["d5248d86.f7096"]]},{"id":"801822a5.c6d75","type":"link out","z":"68862836.29c7a8","name":"living room state","links":["faa9cc31.66ec7"],"x":1020,"y":570,"wires":[]},{"id":"38649522.99f89a","type":"switch","z":"68862836.29c7a8","name":"State Action","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion-detected","vt":"str"},{"t":"eq","v":"motion-off","vt":"str"},{"t":"eq","v":"motion-on","vt":"str"},{"t":"eq","v":"switch","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":465,"wires":[["4c844b6f.159114","a26b8394.bcc5c"],["3dda34d6.1dd5bc"],["7f31ef6f068e5b93"],["cab8f6da.31e818","ba847a7ca44c07c3"]]},{"id":"82902d91.d0dbf","type":"rbe","z":"68862836.29c7a8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":369,"y":223,"wires":[["d2742f90.7a1ce"]]},{"id":"92cf1e14.7068","type":"switch","z":"68862836.29c7a8","name":"Topic Route","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"^config\\b","vt":"str","case":false},{"t":"regex","v":"^reset\\b","vt":"str","case":false},{"t":"eq","v":"light_state","vt":"str"},{"t":"cont","v":"sensor.","vt":"str"},{"t":"regex","v":"^(light|switch)\\.","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":5,"x":175,"y":162,"wires":[["2a0d169a.91782a"],["ba8e1c42c48890af"],["d5248d86.f7096"],["d1f38468.a6c768"],["82902d91.d0dbf","4a9e28b2.6d3bf8"]]},{"id":"2a0d169a.91782a","type":"function","z":"68862836.29c7a8","name":"Update Configuration","func":"// Init our Lights state while we're here\nlet lights = flow.get('lights')\n// Is this our start-up initialisation? (If so, reset config!)\nlet init = msg.init || false\nif (!lights)\n  flow.set('lights', { state: { }, ids: [], ids_csv: '' })\n\n// Merge new Payload with existing config and defaults\nlet cfg = Object.assign(\n  // Existing Config\n  init?flow.get('cfg')||{}:{},  // 'cfg.'+id\n  // Updated Config\n  msg.payload)\n\n// Make sure Light IDs are initted.\n// if (!cfg.lights) cfg.lights = []\nif (!cfg.brightness)\n  cfg.brightness = env.get('brightness') || 100\n\nif (!cfg.transitionOn && cfg.transitionOn !== 0)\n  cfg.transitionOn = env.get('transitionOn') || 2\n  \nif (!cfg.transitionOff && cfg.transitionOff !== 0)\n  cfg.transitionOff = env.get('transitionOff') || 2\n\nif (!cfg.lights && env.get('controlLights') && env.get('controlLights').length>0)\n    cfg.lights = env.get('controlLights').split(/\\s*,\\s*/)\n\nflow.set('cfg', cfg)\n\nreturn { topic: 'config', payload: cfg, lights }","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":505,"y":75,"wires":[[]]},{"id":"d1f38468.a6c768","type":"switch","z":"68862836.29c7a8","name":"motion on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":375,"y":178,"wires":[["cf76e785.ab1978"]]},{"id":"4a9e28b2.6d3bf8","type":"function","z":"68862836.29c7a8","name":"Track Lights","func":"// Keep a record of all the light entity_ids coming in, for later switching\n\nlet lights = flow.get('lights') || { state: { }, ids: [], ids_csv: '' }\n\nlet [all, id] = msg.topic.match(/^light\\.(.*)/)\nlet update = false\n\nif (id) {\n  lights.state[id] = msg.data.new_state\n  if (!lights.ids.includes(id)) {\n    lights.ids.push(id)\n    update = true\n  }\n  lights.ids_csv = lights.ids.join(',')\n}\n\nflow.set('lights', lights)\n\nreturn {update}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":389,"y":268,"wires":[["daf678d0db2af786"]]},{"id":"4c844b6f.159114","type":"function","z":"68862836.29c7a8","name":"Light Cfg","func":"let cfg = flow.get('cfg')|| {}\nlet lights = flow.get('lights') || {}\n// Use Light IDs from Config if defined - otherwise use detected\nlet light_ids = cfg.lights || lights.ids\nlet delay = env.get('pause')*1000\n\n// Prepare config paramters for Light On. This is\n// an Array of Payload Data, one for each light\nlet payload = light_ids.map(id => { return {\n  data: {\n    brightness: Math.floor(cfg.brightness/100*255),\n    transition: cfg.transitionOn,\n    entity_id: 'light.'+id\n  }\n}})\n\nreturn {\n    topic: 'light.'+light_ids.join(','),\n    payload,\n    delay\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":525,"y":330,"wires":[["3cbac613.622432","e49dfffe0583db4e"]]},{"id":"3dda34d6.1dd5bc","type":"function","z":"68862836.29c7a8","name":"Light Cfg","func":"let cfg = flow.get('cfg')|| {}\nlet lights = flow.get('lights') || {}\n// Use Light IDs from Config if defined - otherwise use detected\nlet light_ids = cfg.lights || lights.ids\nlet delay = env.get('pause')*1000\n\n// Prepare config paramters for Light Off. This is\n// an Array of Payload Data, one for each light\nlet payload = light_ids.map(id => { return {\n  data: {\n    transition: cfg.transitionOff,\n    entity_id: 'light.'+id\n  }\n}})\n\nreturn {\n    topic: 'light.'+light_ids.join(','),\n    payload,\n    delay\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":525,"y":435,"wires":[["35ad226.a497bde","b1d245649953149b"]]},{"id":"35088d77.068da2","type":"inject","z":"68862836.29c7a8","name":"Default Configuration","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"init","v":"true","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"config","payload":"{}","payloadType":"json","x":235,"y":75,"wires":[["2a0d169a.91782a"]]},{"id":"949bf90b.fc19e8","type":"api-call-service","z":"68862836.29c7a8","name":"Turn on light","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1045,"y":285,"wires":[[]]},{"id":"a68e2b6.6b0c1d8","type":"api-call-service","z":"68862836.29c7a8","name":"Turn off light","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":1045,"y":435,"wires":[[]]},{"id":"6210bc08.905bc4","type":"function","z":"68862836.29c7a8","name":"Check State","func":"// Fetch light state from our \"Track Lights\" data\n// - no need for a HA State node\n\nlet lights = flow.get('lights') || { state: { }, ids: [], ids_csv: '' }\nlet cfg = flow.get('cfg')|| {}\n\n// Return \"on\" if any one light is \"on\"\nreturn {\n    topic: 'light.'+lights.ids_csv,\n    payload: lights.ids.map(id => lights.state[id].state).includes('on') ? 'on' : 'off'\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":525,"wires":[["801822a5.c6d75"]]},{"id":"3c89b834.84d1a8","type":"split","z":"68862836.29c7a8","name":"Each Light","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":880,"y":285,"wires":[["949bf90b.fc19e8"]]},{"id":"389eef7d.ef9a","type":"split","z":"68862836.29c7a8","name":"Each Light","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":875,"y":435,"wires":[["a68e2b6.6b0c1d8"]]},{"id":"39541c73.33d464","type":"function","z":"68862836.29c7a8","name":"motion-on","func":"// We use a function here to generate a new clean message\n\nreturn {\n    topic: 'state',\n    payload: 'motion-on'\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":885,"y":330,"wires":[["e8072572.fffa18"]]},{"id":"2368d65a.ed031a","type":"function","z":"68862836.29c7a8","name":"motion-off","func":"// We use a function here to generate a new clean message\n\nreturn {\n    topic: 'state',\n    payload: 'motion-off'\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":615,"wires":[["801822a5.c6d75"]]},{"id":"a26b8394.bcc5c","type":"change","z":"68862836.29c7a8","name":"stop","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":480,"wires":[["b1d245649953149b"]]},{"id":"effe188b.5340f8","type":"function","z":"68862836.29c7a8","name":"status","func":"\nmsg.payload = {\n    text: msg.payload, \n    shape: msg.payload.match(/on/) ? 'ring' : 'dot',\n    fill: msg.payload == 'switch' ? 'red' : 'green'\n}\nreturn msg;","outputs":1,"noerr":0,"x":928,"y":157,"wires":[[]]},{"id":"3cbac613.622432","type":"switch","z":"68862836.29c7a8","name":"Manual?","property":"manualLight","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":705,"y":285,"wires":[[],["3c89b834.84d1a8"]]},{"id":"35ad226.a497bde","type":"switch","z":"68862836.29c7a8","name":"Manual?","property":"manualLight","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":705,"y":435,"wires":[[],["389eef7d.ef9a"]]},{"id":"e8072572.fffa18","type":"link out","z":"68862836.29c7a8","name":"living room state","links":["faa9cc31.66ec7"],"x":990,"y":330,"wires":[]},{"id":"ba8e1c42c48890af","type":"function","z":"68862836.29c7a8","name":"Reset","func":"flow.set('lights', null)\nflow.set('cfg', null)\n\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":365,"y":135,"wires":[["2a0d169a.91782a"]]},{"id":"daf678d0db2af786","type":"switch","z":"68862836.29c7a8","name":"Updated?","property":"update","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":270,"wires":[["2a0d169a.91782a"]]},{"id":"e49dfffe0583db4e","type":"trigger","z":"68862836.29c7a8","name":"pause","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":true,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":695,"y":330,"wires":[["39541c73.33d464"]]},{"id":"b1d245649953149b","type":"trigger","z":"68862836.29c7a8","name":"pause","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":true,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":695,"y":480,"wires":[["6210bc08.905bc4"]]},{"id":"3044ab1b0964f72a","type":"trigger","z":"68862836.29c7a8","name":"Back to Auto","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":true,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":715,"y":525,"wires":[["6210bc08.905bc4"]]},{"id":"ba847a7ca44c07c3","type":"change","z":"68862836.29c7a8","name":"cooldown","rules":[{"t":"set","p":"delay","pt":"msg","to":"$env('manualCooldown')*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":525,"y":525,"wires":[["3044ab1b0964f72a"]]},{"id":"7f31ef6f068e5b93","type":"change","z":"68862836.29c7a8","name":"timeOffAfter","rules":[{"t":"set","p":"delay","pt":"msg","to":"$env('timeOffAfter')*1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":455,"y":585,"wires":[["380a05c00a74bf5f"]]},{"id":"380a05c00a74bf5f","type":"trigger","z":"68862836.29c7a8","name":"Turn Off after motion ends","op1":"","op2":"","op1type":"nul","op2type":"payl","duration":"5","extend":true,"overrideDelay":true,"units":"s","reset":"stop","bytopic":"all","topic":"topic","outputs":1,"x":685,"y":615,"wires":[["2368d65a.ed031a"]]},{"id":"62efa5699f57d51f","type":"server-state-changed","z":"7c547859912b407f","g":"d7c147689bbe4353","name":"Light Changed - Hall","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.hall","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":120,"wires":[["a94a530f88e5f4f9"]]},{"id":"de1df19184f06c83","type":"server-state-changed","z":"7c547859912b407f","g":"d7c147689bbe4353","name":"Presence - Hall","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.hall_motion_sensor_3","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":165,"wires":[["a94a530f88e5f4f9"],[]]},{"id":"68906fa59ab52bf4","type":"subflow:68862836.29c7a8","z":"7c547859912b407f","g":"d7c147689bbe4353","name":"","env":[{"name":"timeOffAfter","value":"300","type":"num"},{"name":"brightness","value":"","type":"num"},{"name":"manualLight","value":"true","type":"bool"}],"x":520,"y":100,"wires":[["7fbeaa9f8e7c04ee"],["3db0a2a9e233ba47"],[],[]]},{"id":"ac83cc2a8a6e6776","type":"comment","z":"7c547859912b407f","g":"d7c147689bbe4353","name":"Motion Lighting Activation","info":"","x":170,"y":80,"wires":[]},{"id":"a94a530f88e5f4f9","type":"time-range-switch","z":"7c547859912b407f","g":"d7c147689bbe4353","name":"Day?","lat":"","lon":"","startTime":"08:00","endTime":"18:00","startOffset":0,"endOffset":0,"x":330,"y":140,"wires":[["68906fa59ab52bf4"],["98dd8f5eb34caff1"]]},{"id":"98dd8f5eb34caff1","type":"subflow:68862836.29c7a8","z":"7c547859912b407f","g":"d7c147689bbe4353","name":"","env":[{"name":"timeOffAfter","value":"300","type":"num"},{"name":"brightness","value":"","type":"num"},{"name":"manualLight","value":"true","type":"bool"}],"x":520,"y":180,"wires":[["2632c616d1300e99"],["245d1471ec1e228e"],[],[]]},{"id":"7fbeaa9f8e7c04ee","type":"api-call-service","z":"7c547859912b407f","g":"d7c147689bbe4353","name":"Day Scene ON","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.scene_hall_day"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":60,"wires":[[]]},{"id":"2632c616d1300e99","type":"api-call-service","z":"7c547859912b407f","g":"d7c147689bbe4353","name":"Night Scene ON","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.scene_hall_night"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":140,"wires":[[]]},{"id":"245d1471ec1e228e","type":"api-call-service","z":"7c547859912b407f","g":"d7c147689bbe4353","name":"Hall Lights OFF","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.hall_lamp","light.hall_leds","light.hall_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":180,"wires":[[]]},{"id":"3db0a2a9e233ba47","type":"api-call-service","z":"7c547859912b407f","g":"d7c147689bbe4353","name":"Hall Lights OFF","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.hall_lamp","light.hall_leds","light.hall_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":100,"wires":[[]]},{"id":"35645f67cb3066d9","type":"comment","z":"7c547859912b407f","g":"e47d3124ce86e5cf","name":"Main Door Lighting Activation","info":"","x":180,"y":300,"wires":[]},{"id":"0d31b91fa456ef0a","type":"server-state-changed","z":"7c547859912b407f","g":"e47d3124ce86e5cf","name":"Hall Door Open","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.hall_door_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":380,"wires":[["34ed0ea27e507b41"],["1160707e1d5f6745"]]},{"id":"34ed0ea27e507b41","type":"api-call-service","z":"7c547859912b407f","g":"e47d3124ce86e5cf","name":"Main Lights ON","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.hall_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":360,"wires":[["1160707e1d5f6745"]]},{"id":"1160707e1d5f6745","type":"delay","z":"7c547859912b407f","g":"e47d3124ce86e5cf","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":320,"y":400,"wires":[["e067aa5a9a5ad390"]]},{"id":"e067aa5a9a5ad390","type":"api-call-service","z":"7c547859912b407f","g":"e47d3124ce86e5cf","name":"Main Lights OFF","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.hall_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":380,"wires":[[]]},{"id":"fa9c0e9f11ab7032","type":"comment","z":"7c547859912b407f","g":"464bc9ab39de8545","name":"Laundry Door Lighting Activation","info":"","x":190,"y":500,"wires":[]},{"id":"d195ee04f84b7928","type":"server-state-changed","z":"7c547859912b407f","g":"464bc9ab39de8545","name":"Laundry Door Open","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.hall_washing_room","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":560,"wires":[["69ebe74c270b5bb1"],["ee688e398b26730a"]]},{"id":"69ebe74c270b5bb1","type":"api-call-service","z":"7c547859912b407f","g":"464bc9ab39de8545","name":"Main Light ON","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.hall_main_light_1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":540,"wires":[[]]},{"id":"ee688e398b26730a","type":"api-call-service","z":"7c547859912b407f","g":"464bc9ab39de8545","name":"Main Light OFF","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.hall_main_light_1"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":360,"y":580,"wires":[[]]},{"id":"8507bbf2b43edb42","type":"server-state-changed","z":"c46ec6da75a29ac3","g":"f62a5fe922bbfc46","name":"Light Changed - Bathroom","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.bathroom_light","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":120,"wires":[["e32d0d9f4c16c828"]]},{"id":"320a5239e659a925","type":"server-state-changed","z":"c46ec6da75a29ac3","g":"f62a5fe922bbfc46","name":"Presence - Bathroom","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bathroom_motion_sensor_5","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":165,"wires":[["e32d0d9f4c16c828"],[]]},{"id":"5de7c99b23116528","type":"subflow:68862836.29c7a8","z":"c46ec6da75a29ac3","g":"f62a5fe922bbfc46","name":"","env":[{"name":"timeOffAfter","value":"500","type":"num"},{"name":"brightness","value":"","type":"num"},{"name":"manualLight","value":"true","type":"bool"}],"x":560,"y":100,"wires":[["a354ab4fe46b4009"],["a19d428692b659d3"],[],[]]},{"id":"6c3e3567da67c747","type":"comment","z":"c46ec6da75a29ac3","g":"f62a5fe922bbfc46","name":"Motion Lighting Activation","info":"","x":170,"y":80,"wires":[]},{"id":"e32d0d9f4c16c828","type":"time-range-switch","z":"c46ec6da75a29ac3","g":"f62a5fe922bbfc46","name":"Day?","lat":"","lon":"","startTime":"10:00","endTime":"23:00","startOffset":0,"endOffset":0,"x":370,"y":140,"wires":[["5de7c99b23116528"],["3dc06a21f17a8a5f"]]},{"id":"3dc06a21f17a8a5f","type":"subflow:68862836.29c7a8","z":"c46ec6da75a29ac3","g":"f62a5fe922bbfc46","name":"","env":[{"name":"timeOffAfter","value":"500","type":"num"},{"name":"brightness","value":"","type":"num"},{"name":"manualLight","value":"true","type":"bool"}],"x":560,"y":180,"wires":[["786c57f14537f62a"],["27bf483d8e1ad89d"],[],[]]},{"id":"a354ab4fe46b4009","type":"api-call-service","z":"c46ec6da75a29ac3","g":"f62a5fe922bbfc46","name":"Day Scene ON","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.scene_bathroom_day"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":60,"wires":[[]]},{"id":"786c57f14537f62a","type":"api-call-service","z":"c46ec6da75a29ac3","g":"f62a5fe922bbfc46","name":"Night Scene ON","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.scene_bathroom_morning"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":140,"wires":[[]]},{"id":"27bf483d8e1ad89d","type":"api-call-service","z":"c46ec6da75a29ac3","g":"f62a5fe922bbfc46","name":"Bathroom Lights OFF","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bathroom_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":180,"wires":[[]]},{"id":"a19d428692b659d3","type":"api-call-service","z":"c46ec6da75a29ac3","g":"f62a5fe922bbfc46","name":"Bathroom Lights OFF","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bathroom_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":100,"wires":[[]]},{"id":"ba71cc4f57d4c89a","type":"server-state-changed","z":"5925a2ee8761878a","g":"41246c4ab2371aa1","name":"Light Changed - Kitchen","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.kitchen_l","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":120,"wires":[["eb02612872271538"]]},{"id":"4ed1fdd622c3a862","type":"server-state-changed","z":"5925a2ee8761878a","g":"41246c4ab2371aa1","name":"Presence - Kitchen","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_motion_sensor_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":165,"wires":[["eb02612872271538"],[]]},{"id":"c27661af82753469","type":"subflow:68862836.29c7a8","z":"5925a2ee8761878a","g":"41246c4ab2371aa1","name":"","env":[{"name":"timeOffAfter","value":"400","type":"num"},{"name":"brightness","value":"","type":"num"},{"name":"manualLight","value":"true","type":"bool"}],"x":560,"y":100,"wires":[["7fe6c7fcb9b882ff"],["2d71b56498fa6fac"],[],[]]},{"id":"1922232b8124faec","type":"comment","z":"5925a2ee8761878a","g":"41246c4ab2371aa1","name":"Motion Lighting Activation","info":"","x":170,"y":80,"wires":[]},{"id":"cfc85bb2b3337b65","type":"subflow:68862836.29c7a8","z":"5925a2ee8761878a","g":"41246c4ab2371aa1","name":"","env":[{"name":"timeOffAfter","value":"300","type":"num"},{"name":"brightness","value":"","type":"num"},{"name":"manualLight","value":"true","type":"bool"}],"x":560,"y":180,"wires":[["81c4cb157bb5d74e"],["d01a6faf42988334"],[],[]]},{"id":"7fe6c7fcb9b882ff","type":"api-call-service","z":"5925a2ee8761878a","g":"41246c4ab2371aa1","name":"Day Scene ON","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.kitchen_cooking"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":60,"wires":[[]]},{"id":"81c4cb157bb5d74e","type":"api-call-service","z":"5925a2ee8761878a","g":"41246c4ab2371aa1","name":"Night Scene ON","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.scene_bathroom_morning"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":140,"wires":[[]]},{"id":"d01a6faf42988334","type":"api-call-service","z":"5925a2ee8761878a","g":"41246c4ab2371aa1","name":"Kitchen Lights OFF","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.kitchen_leds"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":180,"wires":[[]]},{"id":"2d71b56498fa6fac","type":"api-call-service","z":"5925a2ee8761878a","g":"41246c4ab2371aa1","name":"Kitchen Lights OFF","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.kitchen_leds","light.kitchen_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":790,"y":100,"wires":[[]]},{"id":"eb02612872271538","type":"time-range-switch","z":"5925a2ee8761878a","g":"41246c4ab2371aa1","name":"Day?","lat":"","lon":"","startTime":"12:30","endTime":"20:00","startOffset":0,"endOffset":0,"x":370,"y":140,"wires":[["c27661af82753469"],["cfc85bb2b3337b65"]]},{"id":"e893b20faab4cbfa","type":"comment","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Sleeping Sensor","info":"","x":140,"y":60,"wires":[]},{"id":"e8ee0b41ed7b5f78","type":"server-state-changed","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Leah in Bed","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bed_sensor_leah","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":120,"wires":[["f3d82d2f440a6d1a"],[]]},{"id":"d76c3b2dcd1ff1d8","type":"server-state-changed","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Sam in Bed","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bed_sensor_sam","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":200,"wires":[["44a21282c3d4bf82"],[]]},{"id":"f3d82d2f440a6d1a","type":"api-current-state","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Sam Home?","server":"f43d015e.4b29","version":3,"outputs":2,"halt_if":"away","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.sam_mcnab","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":120,"wires":[["22fcc17ef896593f"],["709808af8cee8344"]]},{"id":"44a21282c3d4bf82","type":"api-current-state","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Leah Home?","server":"f43d015e.4b29","version":3,"outputs":2,"halt_if":"away","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.leah_jinks","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":200,"wires":[["a0627fc275e7d8bb"],["264b16390bfa1666"]]},{"id":"22fcc17ef896593f","type":"ha-wait-until","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Leah Phone Charging","server":"f43d015e.4b29","version":1,"outputs":1,"entityId":"sensor.leah_s_iphone_battery_state","entityIdFilterType":"exact","property":"state","comparator":"is","value":"charging","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":540,"y":100,"wires":[["a3eaa22a1c5fb838"]]},{"id":"a0627fc275e7d8bb","type":"ha-wait-until","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Sam Phone Charging","server":"f43d015e.4b29","version":1,"outputs":1,"entityId":"sensor.sams_iphone_battery_state","entityIdFilterType":"exact","property":"state","comparator":"is","value":"charging","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":540,"y":180,"wires":[["a3eaa22a1c5fb838"]]},{"id":"a3eaa22a1c5fb838","type":"api-call-service","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Sleeping ON","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.sleeping"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":160,"wires":[["14a026e6fb3ad961"]]},{"id":"709808af8cee8344","type":"ha-wait-until","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Leah Phone Charging","server":"f43d015e.4b29","version":1,"outputs":1,"entityId":"sensor.leah_s_iphone_battery_state","entityIdFilterType":"exact","property":"state","comparator":"is","value":"charging","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":540,"y":140,"wires":[["a0627fc275e7d8bb"]]},{"id":"264b16390bfa1666","type":"ha-wait-until","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Sam Phone Charging","server":"f43d015e.4b29","version":1,"outputs":1,"entityId":"sensor.sams_iphone_battery_state","entityIdFilterType":"exact","property":"state","comparator":"is","value":"charging","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":540,"y":220,"wires":[["22fcc17ef896593f"]]},{"id":"a6d4405666584127","type":"server-state-changed","z":"c2ba449f446e667c","g":"2b35130c2b86fe4c","name":"Light Changed - Bedroom","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":["light.smart_bulb_2","light.smart_bulb","light.bedroom_leds","light.bedroom","light.fairy_lights"],"entityidfiltertype":"list","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":600,"wires":[["f49e67f9a0b76b6d"]]},{"id":"e159fb0e6c4fdbf2","type":"server-state-changed","z":"c2ba449f446e667c","g":"2b35130c2b86fe4c","name":"Presence - Bedroom","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bedroom_motion_sensor_4","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":645,"wires":[["f49e67f9a0b76b6d"],[]]},{"id":"8de12ee17d89f7fb","type":"subflow:68862836.29c7a8","z":"c2ba449f446e667c","g":"2b35130c2b86fe4c","name":"","env":[{"name":"timeOffAfter","value":"400","type":"num"},{"name":"brightness","value":"","type":"num"},{"name":"manualLight","value":"true","type":"bool"}],"x":720,"y":580,"wires":[["19b4e894794049a7"],["5886ac45d9e31869"],[],[]]},{"id":"39d83f7fe8c891f0","type":"comment","z":"c2ba449f446e667c","g":"2b35130c2b86fe4c","name":"Motion Lighting Activation","info":"","x":170,"y":560,"wires":[]},{"id":"c0bb8748fcb2cb13","type":"subflow:68862836.29c7a8","z":"c2ba449f446e667c","g":"2b35130c2b86fe4c","name":"","env":[{"name":"timeOffAfter","value":"300","type":"num"},{"name":"brightness","value":"","type":"num"},{"name":"manualLight","value":"true","type":"bool"}],"x":720,"y":660,"wires":[["627907943fe7ca2c"],["2b4aabe62a2daa1a"],[],[]]},{"id":"19b4e894794049a7","type":"api-call-service","z":"c2ba449f446e667c","g":"2b35130c2b86fe4c","name":"Day Scene ON","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.scene_bedroom_day"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":540,"wires":[[]]},{"id":"627907943fe7ca2c","type":"api-call-service","z":"c2ba449f446e667c","g":"2b35130c2b86fe4c","name":"Night Scene ON","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.scene_bedroom_night"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":940,"y":620,"wires":[[]]},{"id":"2b4aabe62a2daa1a","type":"api-call-service","z":"c2ba449f446e667c","g":"2b35130c2b86fe4c","name":"Bedroom Lights OFF","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.smart_bulb_2","light.smart_bulb","light.bedroom_leds","light.bedroom","light.fairy_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":660,"wires":[[]]},{"id":"5886ac45d9e31869","type":"api-call-service","z":"c2ba449f446e667c","g":"2b35130c2b86fe4c","name":"Bedroom Lights OFF","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.smart_bulb_2","light.smart_bulb","light.bedroom_leds","light.bedroom","light.bedside_lamps"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":580,"wires":[[]]},{"id":"5fff236b6952929a","type":"time-range-switch","z":"c2ba449f446e667c","g":"2b35130c2b86fe4c","name":"Day?","lat":"","lon":"","startTime":"08:00","endTime":"18:00","startOffset":0,"endOffset":0,"x":530,"y":620,"wires":[["8de12ee17d89f7fb"],["c0bb8748fcb2cb13"]]},{"id":"fcf8d61d9285e1bf","type":"server-state-changed","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Leah Leaves Bed","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bed_sensor_leah","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":320,"wires":[["d0d062e59145f405"],[]]},{"id":"9baf73405608bdf7","type":"server-state-changed","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Sam Leaves Bed","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bed_sensor_sam","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":400,"wires":[["83668296822c3a41"],[]]},{"id":"d0d062e59145f405","type":"api-current-state","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Sam Home?","server":"f43d015e.4b29","version":3,"outputs":2,"halt_if":"away","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.sam_mcnab","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":320,"wires":[["2a357654c9c65467"],["7c990d10a0a13190"]]},{"id":"83668296822c3a41","type":"api-current-state","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Leah Home?","server":"f43d015e.4b29","version":3,"outputs":2,"halt_if":"away","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.leah_jinks","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":400,"wires":[["14396cbdcedb0565"],["35a365e33b9d6e9f"]]},{"id":"2a357654c9c65467","type":"ha-wait-until","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Leah Phone Unplugged?","server":"f43d015e.4b29","version":1,"outputs":1,"entityId":"sensor.leah_s_iphone_battery_state","entityIdFilterType":"exact","property":"state","comparator":"is","value":"not charging","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":570,"y":300,"wires":[["4c47c5f5454d514f"]]},{"id":"4c47c5f5454d514f","type":"api-call-service","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Sleeping OFF","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.sleeping"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":360,"wires":[["14a026e6fb3ad961"]]},{"id":"7c990d10a0a13190","type":"ha-wait-until","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Leah Phone Unplugged?","server":"f43d015e.4b29","version":1,"outputs":1,"entityId":"sensor.leah_s_iphone_battery_state","entityIdFilterType":"exact","property":"state","comparator":"is","value":"not charging","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":570,"y":340,"wires":[["14396cbdcedb0565"]]},{"id":"14396cbdcedb0565","type":"ha-wait-until","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Sam Phone Unplugged?","server":"f43d015e.4b29","version":1,"outputs":1,"entityId":"sensor.leah_s_iphone_battery_state","entityIdFilterType":"exact","property":"state","comparator":"is","value":"not charging","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":570,"y":380,"wires":[["4c47c5f5454d514f"]]},{"id":"35a365e33b9d6e9f","type":"ha-wait-until","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"Sam Phone Unplugged?","server":"f43d015e.4b29","version":1,"outputs":1,"entityId":"sensor.leah_s_iphone_battery_state","entityIdFilterType":"exact","property":"state","comparator":"is","value":"not charging","valueType":"str","timeout":"0","timeoutType":"num","timeoutUnits":"seconds","entityLocation":"data","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":570,"y":420,"wires":[["2a357654c9c65467"]]},{"id":"14a026e6fb3ad961","type":"debug","z":"c2ba449f446e667c","g":"b4177eba2c9555d6","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":940,"y":260,"wires":[]},{"id":"f49e67f9a0b76b6d","type":"api-current-state","z":"c2ba449f446e667c","g":"2b35130c2b86fe4c","name":"Sleeping?","server":"f43d015e.4b29","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sleeping","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":620,"wires":[[],["5fff236b6952929a"]]},{"id":"56f6cba8f2b189a6","type":"server-state-changed","z":"e0c421ee2f5c3583","g":"2c73a66ba0f434b1","name":"Light Changed - Living Room","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.l","entityidfiltertype":"regex","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":120,"wires":[["eef825106d7c68a6"]]},{"id":"2161bd8d13751ab1","type":"server-state-changed","z":"e0c421ee2f5c3583","g":"2c73a66ba0f434b1","name":"Presence - Living Room","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.living_room_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":165,"wires":[["eef825106d7c68a6"],[]]},{"id":"d290edb76b1f1a1a","type":"subflow:68862836.29c7a8","z":"e0c421ee2f5c3583","g":"2c73a66ba0f434b1","name":"","env":[{"name":"timeOffAfter","value":"400","type":"num"},{"name":"brightness","value":"","type":"num"},{"name":"manualLight","value":"true","type":"bool"}],"x":740,"y":100,"wires":[["e06050b0c1337d0b"],["9475c3a27378fec3"],[],[]]},{"id":"9fe1628b8a950c0f","type":"comment","z":"e0c421ee2f5c3583","g":"2c73a66ba0f434b1","name":"Motion Lighting Activation","info":"","x":170,"y":80,"wires":[]},{"id":"8ba3a85344ed834c","type":"subflow:68862836.29c7a8","z":"e0c421ee2f5c3583","g":"2c73a66ba0f434b1","name":"","env":[{"name":"timeOffAfter","value":"300","type":"num"},{"name":"brightness","value":"","type":"num"},{"name":"manualLight","value":"true","type":"bool"}],"x":740,"y":180,"wires":[["c889feed3908ab39"],["97faaeaadfd9af3a"],[],[]]},{"id":"e06050b0c1337d0b","type":"api-call-service","z":"e0c421ee2f5c3583","g":"2c73a66ba0f434b1","name":"Day Scene ON","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.scene_living_room_day"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":60,"wires":[[]]},{"id":"c889feed3908ab39","type":"api-call-service","z":"e0c421ee2f5c3583","g":"2c73a66ba0f434b1","name":"Night Scene ON","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.scene_living_room_night"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":960,"y":140,"wires":[[]]},{"id":"97faaeaadfd9af3a","type":"api-call-service","z":"e0c421ee2f5c3583","g":"2c73a66ba0f434b1","name":"Living Room Lights OFF","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.all_living_room_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":180,"wires":[[]]},{"id":"9475c3a27378fec3","type":"api-call-service","z":"e0c421ee2f5c3583","g":"2c73a66ba0f434b1","name":"Living Room Lights OFF","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.all_living_room_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":990,"y":100,"wires":[[]]},{"id":"0e6422737040fceb","type":"time-range-switch","z":"e0c421ee2f5c3583","g":"2c73a66ba0f434b1","name":"Day?","lat":"","lon":"","startTime":"12:30","endTime":"20:00","startOffset":0,"endOffset":0,"x":550,"y":140,"wires":[["d290edb76b1f1a1a"],["8ba3a85344ed834c"]]},{"id":"eef825106d7c68a6","type":"api-current-state","z":"e0c421ee2f5c3583","g":"2c73a66ba0f434b1","name":"TV On?","server":"f43d015e.4b29","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"media_player.samsung_tv","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":400,"y":140,"wires":[[],["0e6422737040fceb"]]},{"id":"63936f8756ca0048","type":"server-state-changed","z":"0c8b275e7a34a25c","g":"b698f877eb646013","name":"Mac On?","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.sam_s_mac_mini_active","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":140,"wires":[["3aa1e1fd5edd79db"],["1fed51c35e7f4b43"]]},{"id":"1ac3f5058c4f0840","type":"comment","z":"0c8b275e7a34a25c","g":"b698f877eb646013","name":"Lighting","info":"","x":110,"y":80,"wires":[]},{"id":"3aa1e1fd5edd79db","type":"api-current-state","z":"0c8b275e7a34a25c","g":"b698f877eb646013","name":"Xbox On?","server":"f43d015e.4b29","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.sam_7he_ex7reme","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":280,"y":120,"wires":[[],["4c65e1a366bcc553","feec78aa8e783197"]]},{"id":"4c65e1a366bcc553","type":"api-current-state","z":"0c8b275e7a34a25c","g":"b698f877eb646013","name":"In Meeting?","server":"f43d015e.4b29","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.sam_s_mac_mini_camera_in_use","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":120,"wires":[[],["966f5608fc29c504"]]},{"id":"feec78aa8e783197","type":"api-current-state","z":"0c8b275e7a34a25c","g":"b698f877eb646013","name":"In Meeting?","server":"f43d015e.4b29","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.sam_s_mac_mini_active_audio_input","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":510,"y":80,"wires":[[],["966f5608fc29c504"]]},{"id":"966f5608fc29c504","type":"api-call-service","z":"0c8b275e7a34a25c","g":"b698f877eb646013","name":"Office On","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.scene_office_bright"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":100,"wires":[[]]},{"id":"1fed51c35e7f4b43","type":"delay","z":"0c8b275e7a34a25c","g":"b698f877eb646013","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":280,"y":160,"wires":[["d067440ecd22dd3c"]]},{"id":"d067440ecd22dd3c","type":"api-current-state","z":"0c8b275e7a34a25c","g":"b698f877eb646013","name":"Mac On?","server":"f43d015e.4b29","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.sam_s_mac_mini_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":460,"y":160,"wires":[["1fed51c35e7f4b43"],["abbd4ecafe20c316"]]},{"id":"abbd4ecafe20c316","type":"api-call-service","z":"0c8b275e7a34a25c","g":"b698f877eb646013","name":"Office Off","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.office_desk_led"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":160,"wires":[[]]},{"id":"865b763260b2e656","type":"server-state-changed","z":"0c8b275e7a34a25c","g":"cfa2b5528df1706e","name":"Xbox On?","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.sam_7he_ex7reme","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":260,"wires":[["1a5eb1854aee1bc9"],[]]},{"id":"1a5eb1854aee1bc9","type":"api-call-service","z":"0c8b275e7a34a25c","g":"cfa2b5528df1706e","name":"Capture Scene","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"create","areaId":[],"deviceId":[],"entityId":[],"data":"{\"scene_id\":\"pregame\",\"snapshot_entities\":\"light.office_desk_led\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":300,"y":260,"wires":[["53a4c9a8dd06e4cd"]]},{"id":"53a4c9a8dd06e4cd","type":"api-call-service","z":"0c8b275e7a34a25c","g":"cfa2b5528df1706e","name":"Game Scene","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.scene_gaming"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":260,"wires":[[]]},{"id":"1875a0907cefbee9","type":"server-state-changed","z":"0c8b275e7a34a25c","g":"cfa2b5528df1706e","name":"Xbox Off?","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.sam_7he_ex7reme","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":300,"wires":[["d917ba0864630d2f"],[]]},{"id":"d917ba0864630d2f","type":"api-call-service","z":"0c8b275e7a34a25c","g":"cfa2b5528df1706e","name":"Return Scene","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.pregame"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":300,"y":300,"wires":[["d0855e19f896afe2"]]},{"id":"2261c3a7f4611001","type":"api-current-state","z":"0c8b275e7a34a25c","g":"cfa2b5528df1706e","name":"Mac On?","server":"f43d015e.4b29","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.sam_s_mac_mini_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":640,"y":300,"wires":[["1fed51c35e7f4b43"],["ac5131fbd36abbf7"]]},{"id":"d0855e19f896afe2","type":"delay","z":"0c8b275e7a34a25c","g":"cfa2b5528df1706e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":480,"y":300,"wires":[["2261c3a7f4611001"]]},{"id":"ac5131fbd36abbf7","type":"api-call-service","z":"0c8b275e7a34a25c","g":"cfa2b5528df1706e","name":"Office Off","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.office_desk_led"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":300,"wires":[[]]},{"id":"19066ee6e6da335a","type":"server-state-changed","z":"0c8b275e7a34a25c","name":"In Meeting?","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sam_s_mac_mini_active_audio_input","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":400,"wires":[["9f7094f7af59e95f"],[]]},{"id":"824364bea194606b","type":"server-state-changed","z":"0c8b275e7a34a25c","name":"In Meeting?","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sam_s_mac_mini_active_camera","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":440,"wires":[["9f7094f7af59e95f"],[]]},{"id":"9f7094f7af59e95f","type":"api-call-service","z":"0c8b275e7a34a25c","name":"Capture Scene","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"create","areaId":[],"deviceId":[],"entityId":[],"data":"{\"scene_id\":\"premeeting\",\"snapshot_entities\":\"light.office_desk_led\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":320,"y":420,"wires":[["6207327b28e05dcd"]]},{"id":"6207327b28e05dcd","type":"api-call-service","z":"0c8b275e7a34a25c","name":"Meeting Scene","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.scene_office_meeting"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":420,"wires":[["73c665fd127a2b29"]]},{"id":"53edba07177a1d3f","type":"server-state-changed","z":"0c8b275e7a34a25c","name":"Meeting Finished?","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sam_s_mac_mini_active_audio_input","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":500,"wires":[["5e9d3a41a63a5db4"],[]]},{"id":"894c2646c144064a","type":"server-state-changed","z":"0c8b275e7a34a25c","name":"Meeting Finished?","server":"f43d015e.4b29","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.sam_s_mac_mini_active_camera","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":540,"wires":[["5e9d3a41a63a5db4"],[]]},{"id":"4586b621b7692fef","type":"api-call-service","z":"0c8b275e7a34a25c","name":"Return Scene","server":"f43d015e.4b29","version":5,"debugenabled":false,"domain":"scene","service":"turn_on","areaId":[],"deviceId":[],"entityId":["scene.pregame"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":520,"wires":[["d0855e19f896afe2"]]},{"id":"5e9d3a41a63a5db4","type":"api-current-state","z":"0c8b275e7a34a25c","name":"Mac On?","server":"f43d015e.4b29","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.sam_s_mac_mini_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":520,"wires":[["4586b621b7692fef"],["d0855e19f896afe2"]]},{"id":"73c665fd127a2b29","type":"api-current-state","z":"0c8b275e7a34a25c","name":"Leah Out?","server":"f43d015e.4b29","version":3,"outputs":2,"halt_if":"away","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.leah_jinks","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":710,"y":420,"wires":[[],[]]}]