node-red/node_modules/node-red-contrib-notification-center/examples/Complete flow.json
[
  {
    "id": "49d9ef41.0f6b8",
    "type": "tab",
    "label": "Notification Center",
    "disabled": false,
    "info": ""
  },
  {
    "id": "6ab35c3a.b159f4",
    "type": "ui_template",
    "z": "49d9ef41.0f6b8",
    "group": "9778ecef.cf148",
    "name": "",
    "order": 1,
    "width": "6",
    "height": "6",
    "format": "<style>\n    .nccat {\n        height: 100%; \n        overflow: auto; \n    }\n    .ncnot {\n        display: flex;\n        align-items: flex-start;\n        margin-bottom: 4px;\n        padding: 4px 10px;\n    }\n    .ncnot ng-md-icon {\n        margin: 0;\n    }\n    .ncnot .text {\n        font-size: larger;\n        margin-left: 4px;\n        white-space: pre-wrap;\n    }\n    .ncnot .more {\n        margin-left: 4px;\n        white-space: pre-wrap;\n    }\n    .ncnot a: {\n        color: inherit;\n    }\n    .ncnot a:visited {\n        color: inherit;\n    }\n    .nr-dashboard-theme .nr-dashboard-template .high path {\n        fill: #ff4040;\n    }\n    .nr-dashboard-theme .nr-dashboard-template .medium path {\n        fill: #ffff00;\n    }\n    .nr-dashboard-theme .nr-dashboard-template .low path {\n        fill: #4040ff;\n    }\n    @-webkit-keyframes blinker {\n        from {opacity: 1.0;}\n        to {opacity: 0.0;}\n    }\n    .nr-dashboard-theme .nr-dashboard-template .blink{\n\t    text-decoration: blink;\n    \t-webkit-animation-name: blinker;\n\t    -webkit-animation-duration: 0.6s;\n    \t-webkit-animation-iteration-count:infinite;\n\t    -webkit-animation-timing-function:ease-in-out;\n    \t-webkit-animation-direction: alternate;\n}\n</style>\n<div xxng-show=\"msg.payload.error.length + msg.payload.warning.length + msg.payload.info.length\" class=\"nccat\">\n    <div ng-repeat=\"n in msg.payload.high\" class=\"ncnot high\">\n        <ng-md-icon icon=\"error\" class=\"blink\"></ng-md-icon>\n        <div>\n            <div class=\"text\">{{n.text}}</div>\n            <div class=\"more\"><span ng-if=\"n.more\">{{n.more}} </span><span ng-if=\"n.url\">(<a href=\"{{n.url}}\">link</a>)</span></div>\n        </div>\n    </div>\n    <div ng-repeat=\"n in msg.payload.medium\" class=\"ncnot medium\">\n        <ng-md-icon icon=\"warning\"></ng-md-icon>\n        <div>\n            <div class=\"text\">{{n.text}}</div>\n            <div class=\"more\"><span ng-if=\"n.more\">{{n.more}} </span><span ng-if=\"n.url\">(<a href=\"{{n.url}}\">link</a>)</span></div>\n        </div>\n    </div>\n    <div ng-repeat=\"n in msg.payload.low\" class=\"ncnot low\">\n        <ng-md-icon icon=\"info\"></ng-md-icon>\n        <div>\n            <div class=\"text\">{{n.text}}</div>\n            <div class=\"more\"><span ng-if=\"n.more\">{{n.more}} </span><span ng-if=\"n.url\">(<a href=\"{{n.url}}\">link</a>)</span></div>\n        </div>\n    </div>\n</div>\n",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "templateScope": "local",
    "x": 680,
    "y": 180,
    "wires": [
      []
    ]
  },
  {
    "id": "ad49042c.9b9458",
    "type": "debug",
    "z": "49d9ef41.0f6b8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 690,
    "y": 340,
    "wires": []
  },
  {
    "id": "3b7ffb77.f87e14",
    "type": "inject",
    "z": "49d9ef41.0f6b8",
    "name": "add test notification - high",
    "topic": "",
    "payload": "[{\"category\":\"test\",\"key\":\"test1\",\"severity\":\"high\",\"text\":\"Test high\",\"more\":\"with more info\"}]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 150,
    "y": 40,
    "wires": [
      [
        "c6d9cda2.8416d"
      ]
    ]
  },
  {
    "id": "c6d9cda2.8416d",
    "type": "notification-center",
    "z": "49d9ef41.0f6b8",
    "name": "",
    "x": 450,
    "y": 340,
    "wires": [
      [
        "ad49042c.9b9458",
        "6ab35c3a.b159f4",
        "51dbbf48.75a8"
      ],
      [
        "ad510326.06b9a"
      ]
    ]
  },
  {
    "id": "61536c4a.800924",
    "type": "link in",
    "z": "49d9ef41.0f6b8",
    "name": "",
    "links": [],
    "x": 255,
    "y": 380,
    "wires": [
      [
        "c6d9cda2.8416d"
      ]
    ]
  },
  {
    "id": "b8c00225.e9f24",
    "type": "telegrambot-payload",
    "z": "49d9ef41.0f6b8",
    "name": "",
    "bot": "ec86d66.826b328",
    "chatId": "",
    "sendMethod": "",
    "payload": "",
    "x": 910,
    "y": 280,
    "wires": [
      []
    ]
  },
  {
    "id": "51dbbf48.75a8",
    "type": "function",
    "z": "49d9ef41.0f6b8",
    "name": "prepare message",
    "func": "function htmlEscape(str) {\n    return str\n        .replace(/&/g, '&amp;')\n        .replace(/\"/g, '&quot;')\n        .replace(/'/g, '&#39;')\n        .replace(/</g, '&lt;')\n        .replace(/>/g, '&gt;');\n}\n\nfunction format(symbol, notification) {\n    let result = symbol + \" \" + htmlEscape(notification.text) + \"\\n\";\n    if (notification.more) {\n        result += htmlEscape(notification.more) + \"\\n\";\n    }\n    if (notification.url) {\n        result += \"<a href=\\\"\"+htmlEscape(notification.url)+\"\\\">\"+htmlEscape(notification.url)+\"</a>\\n\";\n    }\n    return result;\n}\n\nlet message = {\n        \"method\": \"sendMessage\",\n        \"payload\": {\n            \"parse_mode\": \"HTML\",\n            \"text\": \"\",\n            \"disable_web_page_preview\": true,\n        },\n        \"telegram\": {\n            \"chat\": {\n                \"id\": 197395147,\n            }\n        }\n    }\n\nfor (let n of msg.payload.high) {\n    message.payload.text += format(\"❌\", n);\n}\nfor (let n of msg.payload.medium) {\n    message.payload.text += format(\"⚠️\", n);\n}\nfor (let n of msg.payload.low) {\n    message.payload.text += format(\"ℹ\", n);\n}\nif (message.payload.text === \"\") {\n    message.payload.text = \"✔️ \" +\n        \"No notifications.\"\n}\nnode.send(message);\n/*\n\nif (flow.get(\"status\") != msg.payload.stateText) {\n    var message = newMessage();\n    message.payload.disable_notification = true;\n    message.payload.text = \"<b>Pellet Heater</b>\\n\" +\n        msg.payload.stateText;\n        \n    node.send(message);\n\n    flow.set(\"status\", msg.payload.stateText);\n\n}\n\n\nif (!flow.get(\"hopperLow\") && flow.get(\"hopperLowMessageId\")) {\n    var message = newMessage();\n    message.payload.text = \"✔️\" +\n        \"<b>Pellet Heater - Hopper level OK.</b>\\n\" +\n        \"Hopper content as of \"+msg.payload.timeText+\": <b>\" + msg.payload.hopperContentKg + \" kg</b>\";\n\n    //message.payload.reply_to_message_id = flow.get(\"hopperLowMessageId\");\n\n    node.send(message);\n    \n    flow.set(\"hopperLowMessageId\", null)\n    flow.set(\"hopperLowLastContent\", null)\n}\n\nif (flow.get(\"hopperLow\") && msg.payload.hopperContentKg != flow.get(\"hopperLowLastContent\")) {\n    var message = newMessage();\n    message.payload.text = \"⚠️️\" +\n        \" <b>Pellet Heater - Hopper level low!</b>\\n\" +\n        \"Hopper content as of \"+msg.payload.timeText+\": <b>\" + msg.payload.hopperContentKg + \" kg</b>\";\n        \n    if (flow.get(\"hopperLowMessageId\")) {\n        message.method = \"editMessageText\";\n        message.payload.message_id = flow.get(\"hopperLowMessageId\");\n    } else {\n        message.type = \"hopperLow\"; // Save messageId when we get it\n    }\n\n    node.send(message);\n\n    flow.set(\"hopperLowLastContent\", msg.payload.hopperContentKg)\n}\n\n\nif (!msg.payload.alert && flow.get(\"alertText\")) {\n    var message = newMessage();\n    message.payload.text = \"✔️\" +\n        \"<b>Pellet Heater - Alert cancelled.</b>\\n\" +\n        msg.payload.stateText;\n        \n    node.send(message);\n\n    flow.set(\"alertText\", null);\n}\n\nif (msg.payload.alert && flow.get(\"alertText\") != msg.payload.stateText) {\n    var message = newMessage();\n    message.payload.text = \"❌\" +\n        \" <b>Pellet Heater - Alert!</b>\\n\" +\n        msg.payload.stateText;\n        \n    node.send(message);\n\n    flow.set(\"alertText\", msg.payload.stateText)\n}\n\n\nreturn null;\n*/",
    "outputs": 1,
    "noerr": 0,
    "x": 710,
    "y": 280,
    "wires": [
      [
        "b8c00225.e9f24"
      ]
    ]
  },
  {
    "id": "40c98fda.20613",
    "type": "inject",
    "z": "49d9ef41.0f6b8",
    "name": "remove test notifications",
    "topic": "",
    "payload": "{\"notifications\":[],\"clearCategory\":\"test\"}",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 150,
    "y": 260,
    "wires": [
      [
        "c6d9cda2.8416d"
      ]
    ]
  },
  {
    "id": "bca2e262.74529",
    "type": "xml",
    "z": "49d9ef41.0f6b8",
    "name": "",
    "property": "payload",
    "attr": "",
    "chr": "",
    "x": 170,
    "y": 560,
    "wires": [
      [
        "fa2b3084.55fe"
      ]
    ]
  },
  {
    "id": "e1631676.cf84a8",
    "type": "http request",
    "z": "49d9ef41.0f6b8",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "url": "http://www.meteoalarm.eu/ATOM/DK.xml",
    "tls": "",
    "x": 170,
    "y": 520,
    "wires": [
      [
        "bca2e262.74529"
      ]
    ]
  },
  {
    "id": "264fc596.125c4a",
    "type": "inject",
    "z": "49d9ef41.0f6b8",
    "name": "Every 5 minutes",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "repeat": "300",
    "crontab": "",
    "once": true,
    "onceDelay": ".1",
    "x": 170,
    "y": 480,
    "wires": [
      [
        "e1631676.cf84a8"
      ]
    ]
  },
  {
    "id": "fa2b3084.55fe",
    "type": "function",
    "z": "49d9ef41.0f6b8",
    "name": "transform",
    "func": "// Source: http://www.meteoalarm.eu/\n\nconst area = \"Østjylland\";\n\nfunction parse_severity(i){\n    switch (i) {\n        case \"Extreme\": // Extraordinary threat to life or property\n        case \"Severe\": // Significant threat to life or property\n            return \"high\";\n        case \"Moderate\": //  Possible threat to life or property\n        case \"Minor\": //  Minimal threat to life or property\n            return \"medium\";\n        case \"Unknown\": // Severity unknown\n            return \"low\";\n        default: \n            node.warn(\"Received invalid severity from meteoalarm: \" + i);\n            return \"low\";\n    }\n}\n\nconst n = [];\nif (msg.payload.feed.entry) {\n    for(let entry of msg.payload.feed.entry) {\n        if (entry[\"cap:areaDesc\"][0] !== area) {\n            continue\n        }\n        n.push({\n            category: \"weatheralarms\",\n            key: entry.title[0], // So many duplicates! De-deduplicating by using title as key instead of entry.id[0]\n            severity: parse_severity(entry[\"cap:severity\"][0]),\n            text: entry.title[0],\n            url: entry.link[0].$.href,\n        });\n    }\n}\n\nmsg.payload = {\n    notifications: n,\n    clearCategory: \"weatheralarms\"\n}\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 200,
    "y": 600,
    "wires": [
      [
        "c6d9cda2.8416d"
      ]
    ]
  },
  {
    "id": "59c9491c.b80d98",
    "type": "comment",
    "z": "49d9ef41.0f6b8",
    "name": "Meteoalarm.eu weather warnings",
    "info": "",
    "x": 170,
    "y": 440,
    "wires": []
  },
  {
    "id": "ec22e04d.b8d7f",
    "type": "comment",
    "z": "49d9ef41.0f6b8",
    "name": "Link from other flows",
    "info": "",
    "x": 190,
    "y": 340,
    "wires": []
  },
  {
    "id": "3b134aa8.8a9986",
    "type": "comment",
    "z": "49d9ef41.0f6b8",
    "name": "Display on dashboard",
    "info": "",
    "x": 720,
    "y": 140,
    "wires": []
  },
  {
    "id": "a3a69a1f.f42be8",
    "type": "comment",
    "z": "49d9ef41.0f6b8",
    "name": "Send message on Telegram",
    "info": "",
    "x": 740,
    "y": 240,
    "wires": []
  },
  {
    "id": "ed6d5b19.ee70b8",
    "type": "inject",
    "z": "49d9ef41.0f6b8",
    "name": "add test notification - medium",
    "topic": "",
    "payload": "[{\"category\":\"test\",\"key\":\"test2\",\"severity\":\"medium\",\"text\":\"Test medium with URL\",\"url\":\"https://nodered.org/\"}]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 160,
    "y": 140,
    "wires": [
      [
        "c6d9cda2.8416d"
      ]
    ]
  },
  {
    "id": "11458638.a8d11a",
    "type": "inject",
    "z": "49d9ef41.0f6b8",
    "name": "remove test notification - high",
    "topic": "",
    "payload": "[{\"category\":\"test\",\"key\":\"test1\",\"text\":null}]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 160,
    "y": 80,
    "wires": [
      [
        "c6d9cda2.8416d"
      ]
    ]
  },
  {
    "id": "e9c73b21.65ec58",
    "type": "inject",
    "z": "49d9ef41.0f6b8",
    "name": "add test notification - low",
    "topic": "",
    "payload": "[{\"category\":\"test\",\"key\":\"test3\",\"severity\":\"low\",\"text\":\"Test low\"}]",
    "payloadType": "json",
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "x": 150,
    "y": 200,
    "wires": [
      [
        "c6d9cda2.8416d"
      ]
    ]
  },
  {
    "id": "ad510326.06b9a",
    "type": "debug",
    "z": "49d9ef41.0f6b8",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 690,
    "y": 380,
    "wires": []
  },
  {
    "id": "5b0eba36.afc854",
    "type": "comment",
    "z": "49d9ef41.0f6b8",
    "name": "Select country in http request",
    "info": "",
    "x": 400,
    "y": 520,
    "wires": []
  },
  {
    "id": "431798de.735e78",
    "type": "comment",
    "z": "49d9ef41.0f6b8",
    "name": "Select area in transform function",
    "info": "",
    "x": 430,
    "y": 600,
    "wires": []
  },
  {
    "id": "9778ecef.cf148",
    "type": "ui_group",
    "z": "",
    "name": "Notifications",
    "tab": "47b58d1e.1c9694",
    "order": 2,
    "disp": true,
    "width": "9",
    "collapse": true
  },
  {
    "id": "47b58d1e.1c9694",
    "type": "ui_tab",
    "z": "",
    "name": "Home",
    "icon": "dashboard",
    "order": 1
  }
]
